{{> header }}

        <div class="col-sm-12 blog-main">

          <div class="row blog-post">
            <div class="col-4">
              <img src="https://avatars3.githubusercontent.com/u/79405?v=4&s=250" />
            </div>
            <div class="col-sm">
              <h1>David Wilson is a software developer and digital creator based in Seattle.</h1>
              <h5>You can find me on <a href="https://twitter.com/daviwil" target="_blank">Twitter</a>, <a href="https://github.com/daviwil" target="_blank">GitHub</a>, <a href="https://soundcloud.com/daviwil" target="_blank">SoundCloud</a>, and <a href="https://www.youtube.com/c/the_dev_aspect" target="_blank">YouTube</a>.</h5>
            </div>
          </div>

          <div class="blog-post">

            <h3>Latest Articles</h3>
            {{#recent collections.articles}}
            <p><a href="/{{path}}/">{{title}}</a>{{#if draft}} - <b>Draft</b>{{/if}} - <i>{{display-date date}}</i></p>
            {{/recent}}
            <p><a href="/articles">More articles...</a></p>

            <h3>Latest Videos</h3>
            {{#recent collections.videos}}
            <p><a href="/{{path}}/">{{title}}</a>{{#if draft}} - <b>Draft</b>{{/if}} - <i>{{display-date date}}</i></p>
            {{/recent}}
            <p><a href="/video">More videos...</a></p>
          </div>

        </div><!-- /.blog-main -->

{{> footer }}
